# Calling the cleaned dataframe from the respective notebook

In [2]:
import pandas as pd

travel_trip_complete_df = pd.read_parquet("../data/clean/travel_trip_complete.parquet")
travel_trip_complete_df

,destination,trip_id,destination_country,destination_city,start_date,end_date,duration_days,traveler_name,traveler_age,traveler_gender,...,accommodation_cost,transportation_type,transportation_cost,end_year,end_month,start_year,start_month,start_month_name,end_month_name,traveler_nationality_clean
0,"London, UK",1,UK,London,2023-05-01,2023-05-01,7.0,john smith,35.0,Male,...,1200,Flight,600.0,2023,5,2023,5,May,May,United States
1,"Phuket, Thailand",2,Thailand,Phuket,2023-06-01,2023-06-01,5.0,jane doe,28.0,Female,...,800,Flight,500.0,2023,6,2023,6,June,June,Canada
2,"Bali, Indonesia",3,Indonesia,Bali,2023-07-01,2023-07-01,7.0,david lee,45.0,Male,...,1000,Flight,700.0,2023,7,2023,7,July,July,South Korea
3,"New York, USA",4,USA,New York,2023-08-01,2023-08-01,14.0,sarah johnson,29.0,Female,...,2000,Flight,1000.0,2023,8,2023,8,August,August,United Kingdom
4,"Tokyo, Japan",5,Japan,Tokyo,2023-09-01,2023-09-01,7.0,kim nguyen,26.0,Female,...,700,Train,200.0,2023,9,2023,9,September,September,Vietnamese
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,"Rio de Janeiro, Brazil",135,Brazil,Rio de Janeiro,2023-08-01,2023-08-01,9.0,jose perez,37.0,Male,...,2500,Private Car,2000.0,2023,8,2023,8,August,August,Brazil
133,"Vancouver, Canada",136,Canada,Vancouver,2023-08-01,2023-08-01,6.0,emma wilson,29.0,Female,...,5000,Airplane,3000.0,2023,8,2023,8,August,August,Canada
134,"Bangkok, Thailand",137,Thailand,Bangkok,2023-09-01,2023-09-01,7.0,ryan chen,34.0,Male,...,2000,Train,1000.0,2023,9,2023,9,September,September,China
135,"Barcelona, Spain",138,Spain,Barcelona,2023-09-01,2023-09-01,7.0,sofia rodriguez,25.0,Female,...,6000,Airplane,2500.0,2023,9,2023,9,September,September,Spain
136,"Auckland, New Zealand",139,New Zealand,Auckland,2023-10-01,2023-10-01,7.0,william brown,39.0,Male,...,7000,Train,2500.0,2023,10,2023,10,October,October,New Zealander